/* ------- Navigation Bar ------ */
.navbar{
    background-color: #ffffff !important;
}
.navbar .container-head{
    padding: 0.5rem;
    display: flex;
}

.navbar .content{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navbar .branding{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.navbar .brand-logo{
    width: 1.5rem;
    height: 1.5rem;
}

.navbar .brand-name{
    font-size: 1.1rem;
    font-weight: bold;
    color: #222222;
}

.navbar .list-menu{
    display: flex;
    gap: 1rem;
    align-content: center;
    flex-wrap: wrap;
}
.navbar .menu{
    text-decoration: none !important;   
    color: #222222 !important;
    font-size: 1rem;
}

.navbar .time-location{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.navbar .location{
    font-size: 0.7rem;
    color: #555555;
}
.navbar .time{
    font-size: 0.8rem;
    color: #000000;
}

.navbar .hamburger{
    display: none;
}


/* ----- Herooo ------ */
.hero-section{
    padding: 4rem 0;
}

.hero-section .container-hero{
    display: flex;
}
.hero-section .content-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.hero-section .greeting{
    font-size: 3rem;
    font-weight: bold;
    color: #222222;
}
.hero-section .content-right{
    gap: 2rem;
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;;
}

.hero-section .job{
    font-size: 2rem;
    font-weight: bold;
    color: #222222;
}

.hero-section .description{
    font-size: 1rem;
    color: #555555;
}


/* -------- Job History --------- */
.job-history{
    padding: 4rem 0;
    background-color: #e8e8e87e;
}